.container {
    width: 90%;
}

header, #root, footer {
	padding-left: 300px;
}

@media only screen and (max-width : 992px) {
	header, #root, footer {
		padding-left: 0;
	}
}

label span {
    cursor: pointer;
}

.inputField:focus + label {
    color: #e91e63 !important;
}

.inputField {
    color: #fff;
}

input[type="checkbox"].filled-in:checked + span:not(.lever):after {
    border: 2px solid #e91e63;  
    background-color: #e91e63;
}

/* label underline focus color */
.inputField:focus {
    border-bottom: 1px solid #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
}

.gradient_vicious_stance {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.floatingEffect {
    transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}