.container {
    width: 95%;
}

header, .sidebar__padding, footer {
	padding-left: 300px;
}

footer {
    clear: both;
    position: relative;
    margin-top: -200px;
}

.tabs .tab a{
    color:#b39ddb;
} 

.tabs .tab a:hover {
    color:#9575cd;
}


.tabs .tab a.active {
    background-color:rgba(105, 19, 255, 0.11);
    color:#7e57c2;
}

.tabs .indicator {
    background-color:#673ab7;
}

label span {
    cursor: pointer;
}

.inputField:focus + label {
    color: #b39ddb !important;
}

.inputField {
    color: #fff;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: relative;
}
input[type="checkbox"].filled-in:checked + span:not(.lever):after {
    border: 2px solid #7e57c2;  
    background-color: #7e57c2;
}

/* label underline focus color */
.inputField:focus {
    border-bottom: 1px solid #7e57c2 !important;
    box-shadow: 0 1px 0 0 #7e57c2 !important;
}

.gradient_vicious_stance {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.floatingEffect {
    transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

/* SELECT STYLE */

.select-wrapper input {
    color: #fff !important;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 2px solid #7e57c2;
}

.dropdown-content li > span {
    color: #fff !important;
}

.dropdown-content  {
    background-color: #303741;
}

.datepicker-date-display {
    background-color: #303741;
    color: #9575cd;
}

.datepicker-footer .confirmation-btns button {
    color: #7e57c2;
}

.datepicker-calendar-container {
    background-color: #232a33;
}

td[aria-selected=true] .datepicker-day-button {
    background-color: #7e57c2;
}

td.is-today button {
    color: #9575cd;
}

.caret {
    fill: #9575cd !important;
}

td, th {
    padding: 10px 5px;
}

tr.finance:nth-child(even){background-color: #272e38;}