
/* label focus color */
.input-field input:focus + label {
    color: #e91e63 !important;
}

input[type="checkbox"].filled-in:checked + span:not(.lever):after {
    border: 2px solid #e91e63;  
    background-color: #e91e63;
}

/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
}

.gradient__login {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

html {
    background-image: linear-gradient(60deg, #29323c 100%, #485563 100%);    
    background-blend-mode: multiply;  
}